.container {
  background-image: url('./image.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.container:hover {
  box-shadow: none;
}
.texts {
  text-align: left;
  padding-top: 230px;
  line-height: 50px;
  padding-left: 250px;
}
h1 {
  font-style: normal;
  font-weight: lighter;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}
p {
  font-family: 'Times New Roman', Times, serif;
}
.button {
  text-align: left;
  padding-left: 250px;
}

button {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
button:hover {
  color: palevioletred;
  border-color: pink;
}
img {
  margin-top: 70px;
  height: 100px;
}
img:hover {
  box-shadow: 0 0 10px 3px rgb(173, 171, 171);
  cursor: pointer;
}
