.card {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  line-height: 30px;
}
img {
  height: 350px;
}
img:hover {
  box-shadow: 0 0 10px 3px rgb(173, 171, 171);
  cursor: pointer;
}
.best-seller {
  font-size: 25px;
  font-style: italic;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 10px;
}
.tcc {
  font-size: 28px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
  font-size: 20px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(144, 143, 143);
}
.rate {
  font-size: 25px;
  text-align: left;
  font-style: normal;
}
.card-name {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
