.online {
  margin: 80px;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 100px;
}
.women {
  height: 450px;
  width: 100%;
  margin-right: 60px;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.women:hover {
  box-shadow: 0 0 10px 3px rgb(173, 171, 171);
  cursor: pointer;
}
.online-text {
  color: black;
  font-size: small;
}
.bg-text {
  height: 400px;
  width: 80%;
  background-color: rgb(252, 236, 238);
  margin-top: 50px;
}
.bg-text h1 {
  text-align: left;
}
.bg-text h2 {
  text-align: left;
}
.menu-btn {
  text-align: left;
  margin: 20px;
}
.menu {
  background-color: rgb(248, 38, 108);
  color: white;
  border: transparent;
}
